# Final Project
*.jpg
*.jpeg
*.asv
bounding_box/
sift_features/
vlfeat-0.9.20/
libsvm-3.20/
finalProjectData/
FinalProject_BBOX/

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

